<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head", { title: '404' }) %>
    </head>

    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <div class="center-align">
                    <h1>404</h1>
                    <p>We could not find the page you were looking for.</p>
                    <p>If you think this is an issue with one of our server boats, please let us know .</a></p>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>