<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head", {childBefore: `<div class="tabs red lighten-3"><p class="breadcrumb center-align">ADMIN ONLY AREA</p></div>`}) %>
    </head>

    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <h1>go to console to continue</h1>
    </body>
    <script>
        window.eval = async code => {
            const res = await fetch("/debug", { method: "POST", credentials: "same-origin", body: JSON.stringify({ code }), headers: { "Content-Type": "application/json" } });
            const json = await res.json();
            console.clear();
            console.log("...evaluating...");
            if (json.error) console.error(json.error);
            else console.log(json.ok);
        };
    </script>
</html>