<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("parts/head", { title: 'Certification' }) %>
    </head>
    <body>
        <div class="header">
            <%- include("parts/header") %>
        </div>
        <div class="main">
            <div class="container">
                <div class="center-align">
                    <h1>Certification</h1>
                    <p>Certification is for the best, most reliable bots on the list. Here's why you should apply:</p>
                    <h2>Perks</h2>
                    <ul>
                        <li>Use your own HTML and CSS in your bot's long description!</li>
                        <li>Get a special role for you and your bot in the Discord server!</li>
                        <li>Get a nifty badge for your bot to show off to your fellow bot devs!</li>
                        <li>Vanity URLs. That's right; discordboats.club/bot/YOUR_BOT_NAME!</li>
                    </ul>
                    <a href="https://goo.gl/forms/3uBjGO53pWvayuj73" target="_blank" class="waves-effect waves-light btn teal">Apply</a>
                </div>
            </div>
        </div>
    </body>
    <footer>
        <%- include("parts/footer") %>
        <%- include("parts/scripts") %>
    </footer>
</html>
