<div class="page-footer footer blue lighten-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">discordboats.club</h5>
                <p class="grey-text text-lighten-4">discordboats.club is a constantly growing directory for Discord
                    bots. discordboats.club is not affiliated with, endorsed by, supported by and/or sponsored by
                    Discord in any way, shape or form.</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="/">Home</a></li>
                    <li><a class="grey-text text-lighten-3" href="/browse">Browse</a></li>
                    <li><a class="grey-text text-lighten-3" href="/certification">Certification</a></li>
                    <li><a class="grey-text text-lighten-3" href="https://discord.gg/Cw4GDJ4">Discord</a></li>
                    <li><a class="grey-text text-lighten-3" href="/terms">Terms Of Service</a></li>
                    <li><a class="grey-text text-lighten-3" href="/privacy">Privacy Policy</a></li>

                    <% if (typeof user !== 'object') { %>
                    <li><a class="grey-text text-lighten-3" href="/discord/login">Login</a></li>
                    <% } else { %>
                    <li><a class="grey-text text-lighten-3" href="/dashboard">Dashboard</a></li>
                    <% } %>
                    <li><a class="grey-text text-lighten-3" href="/stats">Stats</a></li>
                    <div class="switch">
                        <br>
                        Light Theme<br>
                        <label>
                            <input type="checkbox" id="themeControl">
                            <span class="lever"></span>
                        </label>
                    </div>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="center footer-copyright-text">
            &copy; 2018-2019 discordboats.club
        </div>
    </div>
</div>