<% if (typeof user == 'object') { %>
<ul id="profile-dropdown" class="dropdown-content">
    <li><a href="/user/<%=user.id%>">Profile</a></li>
    <li><a href="/dashboard">Dashboard</a></li>
    <li><a id="log-out-indd">Log Out</a></li>
</ul>
<% } %>

<nav class="blue lighten-3 nav-extended">
    <div class="nav-wrapper">
        <span class="tt"><a href="/" class="brand-logo">discordboats.club</a></span>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="https://discord.gg/Cw4GDJ4">Our Discord</a></li>
            <li><a href="/browse">Browse</a></li>
            <li><a href="/certification">Certification</a></li>
            <!-- <li><a href="#">F.A.Q.</a></li> -->
            <% if (typeof user !== 'object') { %>
            <li><a href="/discord/login">Login</a></li>
            <% } else { %>
                <li id="user-profile-navbar-item"><a href="#" class="dropdown-trigger" data-target="profile-dropdown" id="profile-dropdown-trigger"> <img class="responsive-img circle" alt="User Avatar" style=" vertical-align: middle; width: 38px !important; height: 38px !important;"src="<%=user._discordAvatarURL%>"></a></li>
            <% } %>
        </ul>
    </div>
    <div class="nav-content hide-on-small-only">
        <%- typeof childBefore === "string" ? childBefore : ""  %>
    </div>
</nav>

<div id="snow"></div>