<form action="/search" method="get">
    <div class="input-field col s12">
        <input type="text" id="searchbox" class="autocomplete" autocomplete="off" name="q" value="<%= typeof searchQuery !== 'undefined' ? searchQuery : '' %>">
        <label for="searchbox">Search</label>
    </div>
</form>
