@import 'https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css';
@import 'https://fonts.googleapis.com/css?family=Roboto|Material+Icons';

#snow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5;
}
subtitle {
    color: gray;
}
.main {
    flex: 1 0 auto;
}
.tt {
    padding-left: 1%;
}
.footer {
    text-align: center;
}
.bot-image {
    max-width: 100%;
    max-height: 100%;
}
.bot-image-container {
    width: 100%;
    position: relative;
}
.bot-card {
    size: 5%;
}
.container {
    padding-top: 2%;
    padding-bottom: 2%;
}
.bp-heading {
    display: inline-block;
}
.footer-copyright > div {
    margin: 0 auto;
}
ul#sm {
    text-align: center;
}
li#sm {
    display: inline-block;
}
.bp-heading > img {
    width: 30%;
}
div.newbot-dd-wrap input.select-dropdown {
    color: grey;
}
.api-key-button {
    color: lightgreen;
}
.deny-button {
    color: red;
}
.accept-button {
    color: lightgreen;
}
.bot-card-desc {
    padding-bottom: 5%;
}
.card-server-count {
    display: inline-block;
}
.bp-button {
    margin-left: 5%;
    margin-top: 10% !important;
    padding-left: 33%;
    padding-right: 33%;
}
.bpm-button {
    margin-left: 10vw;
}
.bp-chip {
    display: inline-block;
}
.bp-chips {
    padding-bottom: 2%;
    display: inline-block;
}
.bp-title {
    padding-left: 2%;
    padding-right: 2%;
    vertical-align: middle;
    display: inline-block;
}
.bp-avatar {
    vertical-align: middle;
    display: inline-block;
}
.unverified {
    padding-bottom: 2.5%;
}
.unverified h5 {
    font-weight: bold;
}
.stat-value {
    color: gray;
}
.manage-bot-pfp {
    display: inline-block;
}
#like-btn {
    float: right !important;
}
#like-btn-text {
    width: fit-content;
    margin: 0 5vw;
}

/* Dark theme   */
body.dark-theme .main,
body.dark-theme .modal,
body.dark-theme,
body.dark-theme .modal-footer {
    background-color: #303030 !important;
    color: white;
}
body.dark-theme .nav-wrapper,
body.dark-theme .footer,
body.dark-theme .unverified-notice {
    background-color: #212121 !important;
}
footer {
    padding-top: 0 !important;
}
body.dark-theme .modal-footer a {
    color: white;
}
body.dark-theme input,
body.dark-theme textarea {
    color: white;
}
